<nav class="ui inverted stackable violet four item menu">
  <header class="ui header item"> <a href="/">My Pokemon App</a></header>
  <div class="ui item">
    <a id="dashboard" href="/dashboard"> Collections </a>
  </div>
  <div class="ui item">
    <a id="trade" href="/trade"> Trade </a>
  </div>
  <div class="ui item">
    <a id="about" href="/about"> About </a>
  </div>

</nav>

<script>
  document.querySelector("#{{id}}").classList.add("active");
</script>

