<form class="ui violet stacked segment form" action="/dashboard/addpokemonlist" method="POST">
  <div class="two fields">
  <div class="field">
    <label>Title</label>
    <input placeholder="Title" type="text" name="title" violet autofocus required>
  </div>

  </div>
  <button class="ui violet submit button">Add Pokemonlist</button>
</form>
