<footer class="ui inverted stackable violet four item menu">
  <div class="ui item">
    <p>
      © J Cullinan 2023
    </p>
  </div>

  <div class="ui item">
    <p>
      Waterford, Ireland.
    </p>
  </div>
  <div class="ui item">
    <a id="about" href="/about"> Contact Us </a>
  </div>
  <div class="ui item">
    <i class="facebook square icon"></i>
    <i class="instagram icon"></i>
    <i class="reddit square icon"></i>
  </div>

</footer>

