<nav class="ui menu">
  <header class="ui header item"> <a href="/">My Pokemon App</a></header>
  <div class="left menu">
    <a id="dashboard" class="item" href="/dashboard"> Collections </a>
    <a id="trade" class="item" href="/trade"> Trade </a>
     <a id="about" class="item" href="/about"> About </a>
  </div>
</nav>

<script>
  document.querySelector("#{{id}}").classList.add("active");
</script>