/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: white;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

#readmore {
  display: none;
}

#welcomeuser {
  display: none;
}

.ui.menu .active.item {
  background-color: opacity 0.4;
}

.ui.form :focus:-ms-input-placeholder {
     border-color: violet !important
}

.ui.form textarea:focus {
  
    border-color: violet;
   
}

#map {
    width: 100%;
    height: 300px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
   z-index: 1;
}

.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%;
  border: violet 1px;
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

