{{> menu id="about"}}

<div class="ui container">
  


<div class="ui grid">
  
  <div class="ui eight wide column">
    <h2 class="ui violet centered header">
    Our Team
  </h2>
     

  <div class="ui violet raised cards">
    {{#each creator}}
      {{> card}}
    {{/ each}}
  </div>
    
    </div>
    
 

  <div class="ui eight wide column">
      <h2 class="ui violet centered header">
    We are here
  </h2>
    <div class="ui violet raised cards">
    {{#each creator}}
      {{> card}}
    {{/ each}}
  </div>
    
  
      
    </div>
    
    
  </div>
  </div>



{{>footer}}

