{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    My Pokemon App team: 
  </h2>

  <div class="ui centered cards">
    {{#each creator}}
      {{> card}}
    {{/ each}}
  </div>
</section>