<!-- This is the dashboard landing page -->

{{>menu id="dashboard"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui violet centered header">
    My Pokemon Collections 
  </h2>
</section>

<section class= "ui segment">
  {{>listpokemonlists}}
  {{> addpokemonlist}}
     
</section>

{{>footer}}


 
