{{>menu}}

<section class="ui one column grid segment">
        <div class="ui column">
  <h1 class="ui violet centered header">
    Welcome to MyPokemon App
          </h1>
  </div>
</section>

      <section class="ui one column grid segment">
        <div class="ui column">
          
        <h3 class="ui centered header">Categorise and display your favourite Pokemon</h3>
        
        </div>

<div class="ui column">
<div class="ui two column grid">
        <div class="ui column">
          
           <img class="ui centered medium fluid rounded image" 
             src="https://cdn.glitch.global/5b78ac6c-d51d-4dc1-ae7c-80eca36762e6/goomy-by-kittypokemonsalot.jpg?v=1677157147692">
          <br>
     
        </div>
  
 
  <div class="ui column">
          
           <img class="ui centered medium fluid rounded image" 
             src="https://cdn.glitch.global/5b78ac6c-d51d-4dc1-ae7c-80eca36762e6/pokemon-go-how-to-take-snapshot.jpg?v=1677155485614">
          <br>
        
        </div>
        </div>
   </div>
        
    
    </section>


{{>footer}}

