{{>menu}}

<section class="ui one column grid segment">
        <div class="ui column">
 <h1 class=" ui violet centered header">
   Welcome to MyPokemon App
          </h1>
  </div>
</section>

      <section class="ui one column grid segment">
        <div class="ui column">
          
        <h3 class="ui centered header">Categorise and display your favourite Pokemon</h3>
        
        </div>
        
        <div class="ui containter">

<div class="ui stackable two column grid">
   
  <div class="ui eight wide column">

  <div class="ui segment">
   
<p>
  Pokémon Go is a popular mobile game that was released in 2016 by Niantic for iOS and Android devices. 
  It is a location-based augmented reality game where players use their smartphones to capture and train 
  virtual creatures called Pokémon.</p>
    <p>

In the game, players create an avatar and then explore real-world locations to find and catch Pokémon. 
  The game uses the device's GPS to track the player's location, and different types of Pokémon appear in 
  different locations based on their characteristics. For example, water-type Pokémon are more likely to 
  appear near bodies of water.
    </p>
   

</div>
       
          <div class="ui segment">
           <img class="ui centered large fluid rounded image" 
             src="https://cdn.glitch.global/5b78ac6c-d51d-4dc1-ae7c-80eca36762e6/goomy-by-kittypokemonsalot.jpg?v=1677157147692">
         
           
     
        </div>
        </div>
   <br>
    
      <div class="ui eight wide column">
    
 <div class="ui segment">
    
          
           <img class="ui centered large fluid rounded image" 
             src="https://cdn.glitch.global/5b78ac6c-d51d-4dc1-ae7c-80eca36762e6/pokemon-go-how-to-take-snapshot.jpg?v=1677155485614">
         
        
        </div>
        <div class="ui segment">
          <p> Once a player catches a Pokémon, they can train and evolve it by collecting more 
            of the same type of Pokémon and using them to battle against other players' Pokémon 
            at virtual gyms located at landmarks in the real world. The game also includes features
            such as special events, trading, and collaboration with other players to complete challenges.</p>
          <p>

Overall, Pokémon Go encourages players to explore their surroundings and interact with other 
            players, making it a fun and engaging social experience.</p>
          
          <br>
        </div>
          
    </div>
        </div>
             </div>
  
     <br> 
  </section>      


{{>footer}}




