{{>menu}}

<section class="ui one column grid segment">
        <div class="ui column">
  <h1 class="ui violet centered header">
    Welcome to MyPokemon App
          </h1>
  </div>
</section>

      <section class="ui one column grid segment">
        <div class="ui column">
          
        <h3 class="ui centered header">Categorise and display your favourite Pokemon</h3>
        
        </div>
        
        <div class="ui containter">

<div class="ui stackable two column grid">
   
  <div class="ui eight wide column">

  <div class="ui segment">
   

  <p>Pokémon Go is a free smartphone app that combines gaming with the real world. The game uses location tracking and mapping 
    technology to create an ‘augmented reality’ where players catch and train Pokémon characters in real locations. </p>

<p>As users walk around the real word, Pokémon characters appear on the game map. When users come within a close enough range 
    the Pokémon will appear on the device screen and users throw Poké Balls at them to capture them. The aim is to collect 
    as many different characters as possible.

</p>
</div>
       
          <div class="ui segment">
           <img class="ui centered large fluid rounded image" 
             src="https://cdn.glitch.global/5b78ac6c-d51d-4dc1-ae7c-80eca36762e6/goomy-by-kittypokemonsalot.jpg?v=1677157147692">
         
           
     
        </div>
        </div>
   <br>
    
      <div class="ui eight wide column">
    
 <div class="ui segment">
    
          
           <img class="ui centered large fluid rounded image" 
             src="https://cdn.glitch.global/5b78ac6c-d51d-4dc1-ae7c-80eca36762e6/pokemon-go-how-to-take-snapshot.jpg?v=1677155485614">
         
        
        </div>
        <div class="ui segment">
          <p>
            The map is an anime-style version of Google maps that replaces real street names and landmarks with Pokémon specific buildings.
          </p>
          <p>
            
            Another feature of the game are Poké Stops which are real life locations where users can usually collect 
            free Poké Balls (used to catch Pokémon). Players can also find Pokémon eggs that hatch into Pokémon and can 
            be added to a user’s collection.
          </p>
          <p>
            One of the reasons for its popularity is it is free to download and very easy to play. 
          </p>
          
        </div>
    </div>
        </div>
             </div>
  
     <br> 
  </section>
    
  
         


{{>footer}}

