{{>menu}}

      <section class="ui two column grid segment">
        <div class="ui column">
          
        <h2>Welcome to My Pokemon App</h2>
          <p>
            Categorise and display your favourite Pokemon.
          </p>
          
          <div class="buttons">
      <button class="ui blue button">
        Read more <i class="arrow circle right icon"></i>
      </button>
      <button class="ui green button">
        Like it? <i class="thumbs up icon"></i>
      </button>
      <button class="ui red button">
        Who are you? <i class="user icon"></i>
      </button>
            
            <div id="readmore" class="ui message">
  <p>
    Put fancy wording in here. 
  </p>  
</div>
<div id="welcomeuser" class="ui message"> </div> 

            <br>
            <br>
             <img class="ui small circular image" 
             src="https://cdn.glitch.global/fc52b125-fa65-41b1-9390-00c2551d473a/Image-Of-Good-Morning.jpg?v=1673955929316">
    </div>
        </div>
      
  <div class="ui column">  
      <div class="ui two column grid">
        <div class="ui column">
          
        <img class="ui small circular image" 
             src="https://cdn.glitch.global/fc52b125-fa65-41b1-9390-00c2551d473a/Image-Of-Good-Morning.jpg?v=1673955929316">
          <br>
          <br>
     <img class="ui small circular image" 
             src="https://cdn.glitch.global/fc52b125-fa65-41b1-9390-00c2551d473a/Image-Of-Good-Morning.jpg?v=1673955929316">
        </div>
      
    <div class="ui column">
          
        <img class="ui small circular image" 
             src="https://cdn.glitch.global/fc52b125-fa65-41b1-9390-00c2551d473a/Image-Of-Good-Morning.jpg?v=1673955929316">
      <br>
      <br>
     <img class="ui small circular image" 
             src="https://cdn.glitch.global/fc52b125-fa65-41b1-9390-00c2551d473a/Image-Of-Good-Morning.jpg?v=1673955929316">
        </div>
    </div>  
        </div>
    
    </section>